<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
       <script source="/assets/burger.js"></script>
       <title>Burger-Dex</title>
</head>
<body>
    {{{ body }}}
</body>
</html>