<li>
    {{burger_name}}
    <button class="devour-it" data-id="{{id}}">
        {{#if devoured}}DEVOURED!{{else}}DEVOUR IT!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">DELETE ME!</button>
</li>